{lib_dirs, ["deps"]}.

{deps, [
    {ctool, "3.0.0-beta3", {git, "${ONEDATA_GIT_URL}/ctool.git", {tag, "639b22ed9ba"}}},
    {gproc, "0.5", {git, "git://github.com/uwiger/gproc.git", {tag, "0.5"}}},
    {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", {tag, "0.8.0"}}},
    {n2o, ".*", {git, "git://github.com/5HT/n2o", {tag, "2a038b4"}}}
]}.

{erl_opts, [
    fail_on_warning,
    debug_info
]}.

{erlydtl_opts, [
    {compiler_options, [debug_info]},
    {doc_root, "priv/gui_static/templates"},
    {out_dir, "ebin"},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.
